.page[data-v-6e534c71] {
    min-height: 100vh;
    background-size: cover
}

.page .headers[data-v-6e534c71] {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #fff;
}

.page .headers.fixed[data-v-6e534c71] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.page .footer[data-v-6e534c71] {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 2;
    background: #fff
}

.page .content-container[data-v-6e534c71] {
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding-top: .6rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.page .back-top[data-v-6e534c71] {
    position: absolute;
    bottom: 3rem;
    right: .1rem;
    z-index: 99;
    width: 1.4rem;
    height: 1.6rem
}